@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("/fonts/NeueHaasGrotesk-Roman.woff2") format("woff2"),
    url("/fonts/NeueHaasGrotesk-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("/fonts/NeueHaasGrotesk-Medium.woff2") format("woff2"),
    url("/fonts/NeueHaasGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("/fonts/NeueHaasGrotesk-Bold.woff2") format("woff2"),
    url("/fonts/NeueHaasGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  background: white;
  border: 2px solid rgb(229 231 235 / var(--tw-bg-opacity, 1));
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

/* Simplified Material 3 Typography Styles */

h1 {
  font-size: 57px;
  line-height: 64px;
  font-weight: 600;
}

h2 {
  font-size: 45px;
  line-height: 52px;
  font-weight: 400;
  letter-spacing: 140%;
}

h3 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 400;
}

h4 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}

h5 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
}

h6 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
  letter-spacing: 1px;
}
