@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("/fonts/NeueHaasGrotesk-Roman.woff2") format("woff2"),
    url("/fonts/NeueHaasGrotesk-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("/fonts/NeueHaasGrotesk-Medium.woff2") format("woff2"),
    url("/fonts/NeueHaasGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("/fonts/NeueHaasGrotesk-Bold.woff2") format("woff2"),
    url("/fonts/NeueHaasGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply text-[--foreground] bg-[--background] font-sans;
}

.container {
  @apply w-full rounded p-4 md:p-8 bg-white border-2 border-gray-200 shadow-md;
}

/* Simplified Material 3 Typography Styles */

h1 {
  font-size: 57px;
  line-height: 64px;
  font-weight: 800;
}

h2 {
  font-size: 45px;
  line-height: 52px;
  font-weight: 400;
}

h3 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 400;
}

h4 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
}

h5 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
}

h6 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
